/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/public/.app_base_path
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.bak
*.bak2
